$whiteReg: #fff;
$blackReg: #000;

$purpleReg: #717fe0;
$purpleRegHov: #5f6bbd;

$darkWhiteReg: #f5f6fd;
$darkWhiteRegHov: #c2c2c2;

$redReg: #f74877;
$blackRegChocho: #222;

$darkWhiteColor: #ababab;
$darkGreyReg: #424242;

$categoryBorderColor: #cacaca;

$greyWhite: #f2f2f2;
