// $navMobileBgColor: #fff;
$whiteReg: #fff;
// $navMobileRgIconsColor: #000;
$blackReg: #000;
// $navMobileRgIconsHovColor: #717fe0;
$purpleReg: #717fe0;
$purpleRegHov: #5f6bbd;

// $navPrimaryColor: #f5f6fd;
$darkWhiteReg: #f5f6fd;
// $navPrimaryMediaColor: #c2c2c2;
$darkWhiteRegHov: #c2c2c2;
// $navPrimaryHotBgColor: #f74877;
$redReg: #f74877;

// $navSecondaryBgColor: #222;
$blackRegChocho: #222;
// $navSecondaryColor: #ababab;
$darkWhiteColor: #ababab;
// $navSecondaryBorderColor: #424242;
$darkGreyReg: #424242;
