@use "colors";

.about {
  .about--header--image {
    // margin-top: 30px;
    height: 240px;
    background-image: url("../images/bg-01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about--story--mission {
    @media (min-width: 1280px) {
      padding: 60px 120px;
    }

    padding: 60px 10px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    h4 {
      color: colors.$blackRegChocho;
      font-size: 1.5rem;
      padding-bottom: 25px;
    }
    p {
      color: colors.$darkWhiteColor;
      font-size: 0.9rem;
    }

    .about--story {
      @media (min-width: 768px) {
        flex-direction: row;
        gap: 100px;
      }
      display: flex;
      flex-direction: column;
      gap: 30px;

      .about--story--image {
        overflow: hidden;
        max-height: 500px;
        @media (min-width: 768px) {
          min-width: 370px;
          max-height: 370px;
        }
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          transition: transform 0.3s;
          &:hover {
            transform: scale(1.1);
            cursor: pointer;
          }
        }
      }
    }
    .about--mission {
      @media (min-width: 768px) {
        flex-direction: row;
        gap: 100px;
        div {
          order: 2;
        }
      }
      display: flex;
      flex-direction: column;
      gap: 30px;

      .about--mission--image {
        overflow: hidden;
        max-height: 500px;
        order: 1;
        @media (min-width: 768px) {
          min-width: 370px;
          max-height: 370px;
        }
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          transition: transform 0.3s;
          &:hover {
            transform: scale(1.1);
            cursor: pointer;
          }
        }
      }
    }
  }
}
