.categories--container {
  margin-top: 40px;
  padding: 0 10px;
  display: grid;
  justify-content: center;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  @media (min-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  @media (min-width: 1024px) {
    padding: 0 120px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  @media (min-width: 1280px) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
