@use "./colors";

.error--page {
  min-height: 100vh;
  background-color: colors.$whiteReg;
  color: colors.$darkGreyReg;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
