@use "./colors";

.error--page {
  height: 100vh;
  width: 100vw;
  background-color: colors.$darkWhiteRegHov;
  color: colors.$darkGreyReg;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
