@use "./colors";

.nav--container {
  @media (max-width: 779px) {
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .nav--mobile {
    @media (min-width: 781px) {
      display: none;
    }

    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 1000;

    .nav--mobile--primary {
      padding: 20px 15px 20px 15px;
      display: flex;
      justify-content: space-between;
      z-index: 9999;
      background-color: colors.$whiteReg;

      .mobile--rightIcons {
        display: flex;
        gap: 23px;
        font-size: 1.5rem;
        opacity: 0.8;

        div {
          color: colors.$blackReg;
          transition: color 0.2s;
          display: flex;
          &:hover {
            cursor: pointer;
            color: colors.$purpleReg;
          }
          &:last-child {
            color: colors.$blackReg;
          }
        }
      }
    }

    .nav--mobile--second--third {
      order: 2;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 65px;
      width: 100%;
      transition: transform 0.5s;
      transform: translateY(-100%);
      &[aria-expanded="true"] {
        transform: translateY(0);
      }
      &[aria-expanded="false"] {
        transform: translateY(-100%);
      }

      .nav--secondary {
        background-color: colors.$purpleReg;
        opacity: 0.8;
        color: colors.$darkWhiteReg;
        font-size: 0.9rem;
        z-index: 1;
        order: 2;

        @media (min-width: 780px) {
          background-color: transparent;
          color: colors.$blackReg;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px 12px;
        }

        ul {
          @media (min-width: 780px) {
            flex-direction: row;
            padding: 0;
            gap: 30px;
          }
          padding: 18px 15px 18px 15px;
          list-style: none;
          display: flex;
          flex-direction: column;
          gap: 12px;

          li {
            position: relative;
            a {
              transition: color 0.2s;
              color: inherit;
              text-decoration: none;
              &:hover {
                cursor: pointer;
                color: colors.$darkWhiteRegHov;
                @media (min-width: 780px) {
                  color: colors.$purpleReg;
                }
              }
            }
            .hot {
              background-color: colors.$redReg;
              color: colors.$whiteReg;
              font-size: 0.65em;
              text-transform: uppercase;
              margin-left: 5px;
              padding: 2px 5px;
              vertical-align: text-top;
              border-radius: 25%;
              @media (min-width: 780px) {
                position: absolute;
                top: -15px;
                left: 50px;
              }
            }
          }
        }
      }

      .nav--third {
        background-color: colors.$blackRegChocho;
        color: #ababab;
        order: 1;
        font-size: 0.7rem;
        display: flex;
        gap: 10px;
        flex-direction: column;
        padding: 11px 15px 11px 15px;

        @media (min-width: 780px) {
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 0 15px;
        }

        p {
          font-size: 0.75rem;
          border-bottom: 1px solid colors.$darkGreyReg;
          padding-bottom: 7px;
          @media (min-width: 780px) {
            padding: 0;
            border-bottom: none;
          }
          @media (min-width: 1024px) {
            padding-left: 140px;
          }
        }

        ul {
          display: flex;
          list-style: none;
          @media (min-width: 1024px) {
            padding-right: 140px;
          }

          li {
            @media (min-width: 780px) {
              padding: 8px 10px;
            }
            border-left: 1px solid colors.$darkGreyReg;
            &:last-child {
              border-right: 1px solid colors.$darkGreyReg;
            }
            padding: 0 6px;
            a {
              transition: color 0.2s;
              color: inherit;
              text-decoration: none;
              &:hover {
                cursor: pointer;
                color: colors.$purpleReg;
              }
            }
          }
        }
      }
    }
  }

  .nav--computer {
    @media (max-width: 780px) {
      display: none;
    }
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1000;
    .nav--primary {
      @media (min-width: 1024px) {
        padding-inline: 152px;
      }
      background-color: transparent;
      color: colors.$blackReg;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 12px;
      order: 3;
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: clamp(5px, 25px, 30px);
        list-style: none;

        li {
          position: relative;
          a {
            transition: color 0.2s;
            color: inherit;
            text-decoration: none;
            &:hover {
              cursor: pointer;
              color: colors.$purpleReg;
            }
          }
          .hot {
            background-color: colors.$redReg;
            opacity: 0.9;
            color: colors.$whiteReg;
            font-size: 0.6em;
            text-transform: uppercase;
            margin-left: 5px;
            padding: 4px 8px;
            vertical-align: text-top;
            border-radius: 10px;
            position: absolute;
            top: -20px;
            left: 50px;
          }
        }
      }

      .desktop--icons {
        display: flex;
        gap: 16px;
        font-size: 1.4rem;
        div {
          transition: color 0.2s;
          &:hover {
            cursor: pointer;
            color: colors.$purpleReg;
          }
        }
      }
    }
    .nav--secondary {
      @media (min-width: 1024px) {
        padding-inline: 152px;
      }
      background-color: colors.$blackRegChocho;
      color: #ababab;
      order: 1;
      font-size: 0.7rem;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      padding: 8px 12px;

      p {
        font-size: 0.75rem;
      }

      ul {
        display: flex;
        list-style: none;

        li {
          padding-inline: 10px;
          border-left: 1px solid colors.$darkGreyReg;
          &:last-child {
            border-right: 1px solid colors.$darkGreyReg;
          }
          a {
            transition: color 0.2s;
            color: inherit;
            text-decoration: none;
            &:hover {
              cursor: pointer;
              color: colors.$purpleReg;
            }
          }
        }
      }
    }
  }
}
