@use "./colors";

.nav--container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;

  .nav--mobile {
    display: flex;
    background-color: colors.$whiteReg;
    order: 1;
    justify-content: space-between;
    padding: 25px 15px 20px 15px;
    z-index: 1;
    @media (min-width: 780px) {
      display: none;
    }

    .mobile--rightIcons {
      display: flex;
      gap: 23px;
      font-size: 1.5rem;
      opacity: 0.8;

      div {
        color: colors.$blackReg;
        transition: color 0.2s;
        display: flex;
        &:hover {
          cursor: pointer;
          color: colors.$purpleReg;
        }
        &:last-child {
          color: colors.$blackReg;
        }
      }
    }
  }

  .nav--primary {
    background-color: colors.$purpleReg;
    opacity: 0.8;
    color: colors.$darkWhiteReg;
    order: 3;
    font-size: 0.9rem;
    z-index: 1;

    @media (min-width: 780px) {
      background-color: transparent;
      color: colors.$blackReg;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 12px;
    }

    ul {
      @media (min-width: 780px) {
        flex-direction: row;
        padding: 0;
        gap: 30px;
      }
      padding: 18px 15px 18px 15px;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 12px;

      li {
        position: relative;
        a {
          transition: color 0.2s;
          &:hover {
            cursor: pointer;
            color: colors.$darkWhiteRegHov;
            @media (min-width: 780px) {
              color: colors.$purpleReg;
            }
          }
        }
        .hot {
          background-color: colors.$redReg;
          color: colors.$whiteReg;
          font-size: 0.65em;
          text-transform: uppercase;
          margin-left: 5px;
          padding: 2px 5px;
          vertical-align: text-top;
          border-radius: 25%;
          @media (min-width: 780px) {
            position: absolute;
            top: -15px;
            left: 50px;
          }
        }
      }
    }

    .desktop--navbar--block {
      display: none;
      @media (min-width: 780px) {
        display: flex;
      }
    }

    .desktop--logo {
      @media (min-width: 1024px) {
        padding-left: 140px;
      }
    }

    .desktop--icons {
      @media (min-width: 780px) {
        display: flex;
        gap: 16px;
        font-size: 1.4rem;
        div {
          transition: color 0.2s;
          &:hover {
            cursor: pointer;
            color: colors.$purpleReg;
          }
        }
      }
      @media (min-width: 1024px) {
        padding-right: 140px;
      }
    }
  }

  .nav--secondary {
    background-color: colors.$blackRegChocho;
    color: #ababab;
    order: 2;
    font-size: 0.7rem;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 11px 15px 11px 15px;
    z-index: 1;

    @media (min-width: 780px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;
    }

    p {
      font-size: 0.75rem;
      border-bottom: 1px solid colors.$darkGreyReg;
      padding-bottom: 7px;
      @media (min-width: 780px) {
        padding: 0;
        border-bottom: none;
      }
      @media (min-width: 1024px) {
        padding-left: 140px;
      }
    }

    ul {
      display: flex;
      list-style: none;
      @media (min-width: 1024px) {
        padding-right: 140px;
      }

      li {
        @media (min-width: 780px) {
          padding: 8px 10px;
        }
        border-left: 1px solid colors.$darkGreyReg;
        &:last-child {
          border-right: 1px solid colors.$darkGreyReg;
        }
        padding: 0 6px;
        a {
          transition: color 0.2s;
          &:hover {
            cursor: pointer;
            color: colors.$purpleReg;
          }
        }
      }
    }
  }
}
