@use "./colors";

.slider--container {
  font-family: "Playfair Display", serif;
  height: calc(100vh - 13px);
  position: absolute;
  inset: 13px 0 0 0;
  z-index: -1;
  overflow-y: hidden;

  .slide--wrap {
    height: 100%;
    position: relative;

    .slide {
      height: 100%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 60% 100%;
        padding-top: 20px;
      }
      .slide--text {
        z-index: 9999;
        color: #222222;
        position: absolute;
        inset: 50% 0 0 3%;
        @media (min-width: 1024px) {
          inset: 50% 0 0 10%;
        }
        .slide--text1 {
          font-size: 2.5rem;
        }
        .slide--text2 {
          font-size: 4rem;
        }
        .slide--text3 {
          color: colors.$whiteReg;
          background-color: colors.$purpleReg;
          display: inline-block;
          padding: 8px 12px;
          transition: background-color 0.2s;
          &:hover {
            background-color: colors.$purpleRegHov;
            cursor: pointer;
          }
        }
      }
    }
  }
  .slider--buttons {
    background-color: transparent;
    position: absolute;
    top: 45%;
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    @media (min-width: 1024px) {
      font-size: 2.3rem;
    }

    div {
      cursor: pointer;
      color: colors.$darkWhiteRegHov;
      transition: color 0.2s;

      &:hover {
        color: colors.$purpleReg;
      }
    }
  }
}
