@media (max-width: 779px) {
  .nav--container {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
}
.nav--container .nav--mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}
@media (min-width: 781px) {
  .nav--container .nav--mobile {
    display: none;
  }
}
.nav--container .nav--mobile .nav--mobile--primary {
  padding: 20px 15px 20px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  background-color: #fff;
}
.nav--container .nav--mobile .nav--mobile--primary .nav--mobile--primary--logo {
  display: flex;
  align-items: center;
}
.nav--container .nav--mobile .nav--mobile--primary .mobile--rightIcons {
  display: flex;
  gap: 23px;
  font-size: 1.5rem;
  opacity: 0.8;
  position: relative;
}
.nav--container .nav--mobile .nav--mobile--primary .mobile--rightIcons div {
  color: #000;
  transition: color 0.2s;
  display: flex;
}
.nav--container .nav--mobile .nav--mobile--primary .mobile--rightIcons div:hover {
  cursor: pointer;
  color: #717fe0;
}
.nav--container .nav--mobile .nav--mobile--primary .mobile--rightIcons div:last-child {
  color: #000;
}
.nav--container .nav--mobile .nav--mobile--primary .mobile--rightIcons .shopcart--quantity--container {
  position: relative;
}
.nav--container .nav--mobile .nav--mobile--primary .mobile--rightIcons .shopcart--quantity--container .shopcart--quantity {
  background-color: #717fe0;
  color: #fff;
  font-size: 0.8rem;
  position: absolute;
  top: -14px;
  right: -14px;
  padding: 0 5px;
}
.nav--container .nav--mobile .nav--mobile--second--third {
  order: 2;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  width: 100%;
  transition: transform 0.5s;
  transform: translateY(-100%);
}
.nav--container .nav--mobile .nav--mobile--second--third[aria-expanded=true] {
  transform: translateY(0);
}
.nav--container .nav--mobile .nav--mobile--second--third[aria-expanded=false] {
  transform: translateY(-100%);
}
.nav--container .nav--mobile .nav--mobile--second--third .nav--secondary {
  background-color: #717fe0;
  opacity: 0.8;
  color: #f5f6fd;
  font-size: 0.9rem;
  z-index: 1;
  order: 2;
}
@media (min-width: 780px) {
  .nav--container .nav--mobile .nav--mobile--second--third .nav--secondary {
    background-color: transparent;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px;
  }
}
.nav--container .nav--mobile .nav--mobile--second--third .nav--secondary ul {
  padding: 18px 15px 18px 15px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (min-width: 780px) {
  .nav--container .nav--mobile .nav--mobile--second--third .nav--secondary ul {
    flex-direction: row;
    padding: 0;
    gap: 30px;
  }
}
.nav--container .nav--mobile .nav--mobile--second--third .nav--secondary ul li {
  position: relative;
}
.nav--container .nav--mobile .nav--mobile--second--third .nav--secondary ul li a {
  transition: color 0.2s;
  color: inherit;
  text-decoration: none;
}
.nav--container .nav--mobile .nav--mobile--second--third .nav--secondary ul li a:hover {
  cursor: pointer;
  color: #c2c2c2;
}
@media (min-width: 780px) {
  .nav--container .nav--mobile .nav--mobile--second--third .nav--secondary ul li a:hover {
    color: #717fe0;
  }
}
.nav--container .nav--mobile .nav--mobile--second--third .nav--secondary ul li .hot {
  background-color: #f74877;
  color: #fff;
  font-size: 0.65em;
  text-transform: uppercase;
  margin-left: 5px;
  padding: 2px 5px;
  vertical-align: text-top;
  border-radius: 25%;
}
@media (min-width: 780px) {
  .nav--container .nav--mobile .nav--mobile--second--third .nav--secondary ul li .hot {
    position: absolute;
    top: -15px;
    left: 50px;
  }
}
.nav--container .nav--mobile .nav--mobile--second--third .nav--third {
  background-color: #222;
  color: #ababab;
  order: 1;
  font-size: 0.7rem;
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 11px 15px 11px 15px;
}
@media (min-width: 780px) {
  .nav--container .nav--mobile .nav--mobile--second--third .nav--third {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }
}
.nav--container .nav--mobile .nav--mobile--second--third .nav--third p {
  font-size: 0.75rem;
  border-bottom: 1px solid #424242;
  padding-bottom: 7px;
}
@media (min-width: 780px) {
  .nav--container .nav--mobile .nav--mobile--second--third .nav--third p {
    padding: 0;
    border-bottom: none;
  }
}
@media (min-width: 1024px) {
  .nav--container .nav--mobile .nav--mobile--second--third .nav--third p {
    padding-left: 140px;
  }
}
.nav--container .nav--mobile .nav--mobile--second--third .nav--third ul {
  display: flex;
  list-style: none;
}
@media (min-width: 1024px) {
  .nav--container .nav--mobile .nav--mobile--second--third .nav--third ul {
    padding-right: 140px;
  }
}
.nav--container .nav--mobile .nav--mobile--second--third .nav--third ul li {
  border-left: 1px solid #424242;
  padding: 0 6px;
}
@media (min-width: 780px) {
  .nav--container .nav--mobile .nav--mobile--second--third .nav--third ul li {
    padding: 8px 10px;
  }
}
.nav--container .nav--mobile .nav--mobile--second--third .nav--third ul li:last-child {
  border-right: 1px solid #424242;
}
.nav--container .nav--mobile .nav--mobile--second--third .nav--third ul li a {
  transition: color 0.2s;
  color: inherit;
  text-decoration: none;
}
.nav--container .nav--mobile .nav--mobile--second--third .nav--third ul li a:hover {
  cursor: pointer;
  color: #717fe0;
}
.nav--container .nav--computer {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1000;
}
@media (max-width: 780px) {
  .nav--container .nav--computer {
    display: none;
  }
}
.nav--container .nav--computer .nav--primary {
  background-color: transparent;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 12px;
  order: 3;
}
@media (min-width: 1024px) {
  .nav--container .nav--computer .nav--primary {
    padding-inline: 140px;
  }
}
.nav--container .nav--computer .nav--primary ul {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}
.nav--container .nav--computer .nav--primary ul li {
  position: relative;
}
.nav--container .nav--computer .nav--primary ul li a {
  transition: color 0.2s;
  color: inherit;
  text-decoration: none;
}
.nav--container .nav--computer .nav--primary ul li a:hover {
  cursor: pointer;
  color: #717fe0;
}
.nav--container .nav--computer .nav--primary ul li .hot {
  background-color: #f74877;
  opacity: 0.9;
  color: #fff;
  font-size: 0.6em;
  text-transform: uppercase;
  margin-left: 5px;
  padding: 4px 8px;
  vertical-align: text-top;
  border-radius: 10px;
  position: absolute;
  top: -20px;
  left: 50px;
}
.nav--container .nav--computer .nav--primary .desktop--icons {
  display: flex;
  gap: 23px;
  font-size: 1.4rem;
}
.nav--container .nav--computer .nav--primary .desktop--icons .shopcart--quantity--container {
  position: relative;
}
.nav--container .nav--computer .nav--primary .desktop--icons .shopcart--quantity--container .shopcart--quantity {
  background-color: #717fe0;
  color: #fff;
  font-size: 0.8rem;
  position: absolute;
  top: -14px;
  right: -14px;
  padding: 0 5px;
}
.nav--container .nav--computer .nav--primary .desktop--icons div {
  transition: color 0.2s;
  display: flex;
  align-items: center;
}
.nav--container .nav--computer .nav--primary .desktop--icons div:hover {
  cursor: pointer;
  color: #717fe0;
}
.nav--container .nav--computer .nav--primary .desktop--logo {
  display: flex;
  align-items: center;
}
.nav--container .nav--computer .nav--secondary {
  background-color: #222;
  color: #ababab;
  order: 1;
  font-size: 0.7rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 8px 12px;
}
@media (min-width: 1024px) {
  .nav--container .nav--computer .nav--secondary {
    padding-inline: 140px;
  }
}
.nav--container .nav--computer .nav--secondary p {
  font-size: 0.75rem;
}
.nav--container .nav--computer .nav--secondary ul {
  display: flex;
  list-style: none;
}
.nav--container .nav--computer .nav--secondary ul li {
  padding-inline: 10px;
  border-left: 1px solid #424242;
}
.nav--container .nav--computer .nav--secondary ul li:last-child {
  border-right: 1px solid #424242;
}
.nav--container .nav--computer .nav--secondary ul li a {
  transition: color 0.2s;
  color: inherit;
  text-decoration: none;
}
.nav--container .nav--computer .nav--secondary ul li a:hover {
  cursor: pointer;
  color: #717fe0;
}

.slider--container {
  font-family: "Playfair Display", serif;
  height: calc(100vh + 10px);
  position: relative;
  top: -50px;
  overflow: hidden;
}
@media (min-width: 781px) {
  .slider--container {
    top: -90px;
  }
}
.slider--container .slide--wrap {
  height: 100%;
}
.slider--container .slide--wrap .slide {
  height: 100%;
}
.slider--container .slide--wrap .slide[data-activeslide=false] {
  display: none;
}
.slider--container .slide--wrap .slide img {
  animation: fadeIn 1s linear;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 60% 100%;
  padding-top: 20px;
}
@keyframes fadeIn {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.slider--container .slide--wrap .slide .slide--text {
  display: flex;
  width: max-content;
  flex-direction: column;
  color: #222222;
  position: absolute;
  inset: 50% 0 0 10px;
}
@media (min-width: 1024px) {
  .slider--container .slide--wrap .slide .slide--text {
    inset: 50% 0 0 152px;
  }
}
.slider--container .slide--wrap .slide .slide--text .slide--text1 {
  animation: topDownFall 0.5s linear;
  font-size: 1.8rem;
}
@keyframes topDownFall {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@media (min-width: 1024px) {
  .slider--container .slide--wrap .slide .slide--text .slide--text1 {
    font-size: 2.5rem;
  }
}
.slider--container .slide--wrap .slide .slide--text .slide--text2 {
  animation: downTopRise 0.5s linear 1s forwards;
  display: inline-block;
  visibility: hidden;
  font-size: 3.2rem;
}
@keyframes downTopRise {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}
@media (min-width: 1024px) {
  .slider--container .slide--wrap .slide .slide--text .slide--text2 {
    font-size: 4rem;
  }
}
.slider--container .slide--wrap .slide .slide--text .slide--text3 {
  animation: scaleInOut 0.5s linear 2s forwards;
  visibility: hidden;
  color: #fff;
  background-color: #717fe0;
  display: inline-block;
  width: fit-content;
  margin-top: 10px;
  padding: 8px 15px;
  border-radius: 15px;
  transition: background-color 0.2s;
}
@keyframes scaleInOut {
  0% {
    transform: scale(0.7);
  }
  100% {
    visibility: visible;
    transform: scale(1);
  }
}
.slider--container .slide--wrap .slide .slide--text .slide--text3:hover {
  background-color: #5f6bbd;
  cursor: pointer;
}
.slider--container .slider--buttons {
  background-color: transparent;
  position: absolute;
  top: 45%;
  width: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
}
@media (min-width: 1024px) {
  .slider--container .slider--buttons {
    font-size: 2.3rem;
  }
}
.slider--container .slider--buttons div {
  color: #c2c2c2;
  transition: color 0.2s;
}
.slider--container .slider--buttons div:hover {
  color: #717fe0;
  cursor: pointer;
}

.category--container {
  font-family: "Montserrat", sans-serif;
  position: relative;
  border: 1px solid #cacaca;
  color: #424242;
  max-height: 250px;
}
.category--container:hover {
  background-color: #717fe0;
  cursor: pointer;
}
.category--container:hover img {
  opacity: 0.4;
}
.category--container:hover .category--text {
  color: #fff;
}
.category--container:hover .category--link {
  bottom: 20px;
}
.category--container:hover .category--link::after {
  transform: scaleX(1);
}
.category--container img {
  width: 100%;
  height: 100%;
  transition: opacity 0.4s;
  object-fit: cover;
}
.category--container .category--text {
  position: absolute;
  top: 20px;
  left: 20px;
}
.category--container .category--text h4 {
  font-size: 1rem;
}
.category--container .category--text p {
  font-size: 0.8rem;
  padding-top: 10px;
}
.category--container .category--link {
  position: absolute;
  left: 20px;
  bottom: -20px;
  font-size: 0.9rem;
  color: #fff;
  transition: bottom 1s;
}
.category--container .category--link::after {
  content: "";
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -6px;
  transform: scaleX(0);
  transition: transform 1s 0.5s;
}

.categories--container {
  margin-top: 40px;
  padding: 0 10px;
  display: grid;
  justify-content: center;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}
@media (min-width: 768px) {
  .categories--container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
@media (min-width: 1024px) {
  .categories--container {
    padding: 0 120px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
@media (min-width: 1280px) {
  .categories--container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.product--container {
  display: flex;
  flex-direction: column;
}
.product--container .product--image--container {
  cursor: pointer;
  overflow: hidden;
}
.product--container .product--image--container div {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.product--container .product--image--container div:hover p {
  bottom: 20px;
}
.product--container .product--image--container div:hover img {
  transform: scale(1.1);
}
.product--container .product--image--container div img {
  min-height: 390px;
  height: 100%;
  width: 100%;
  transition: all 0.8s ease;
  object-fit: cover;
}
.product--container .product--image--container div p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -100%;
  color: #222;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  text-transform: uppercase;
  width: max-content;
  font-size: 0.65rem;
  transition: bottom 0.5s, background-color 0.4s, color 0.4s;
}
.product--container .product--image--container div p:hover {
  background-color: #222;
  color: #fff;
}
.product--container div {
  font-size: 0.9rem;
  margin: 10px 0;
}
.product--container div p {
  color: #ababab;
  transition: all 0.2s;
}
.product--container div p:hover {
  color: #5f6bbd;
  cursor: pointer;
}
.product--container p {
  font-size: 0.9rem;
  color: #ababab;
}

.products--container {
  position: relative;
  min-height: 500px;
  margin-top: 40px;
  padding: 0 10px;
}
@media (min-width: 1024px) {
  .products--container {
    padding: 0 120px;
  }
}
.products--container h2 {
  font-family: "Popping";
  color: #222;
  font-size: 1.7rem;
  text-transform: uppercase;
}
@media (min-width: 1024px) {
  .products--container h2 {
    font-size: 2.1rem;
  }
}
.products--container .products--category {
  grid-template-columns: repeat(1, minmax(0, 1fr));
  display: grid;
  justify-content: space-between;
  gap: 20px;
  margin-block: 10px;
}
@media (min-width: 768px) {
  .products--container .products--category {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.products--container .products--category .category--text .category--text--list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.products--container .products--category .category--text .category--text--list li {
  color: #ababab;
  margin: 3px 15px 3px 0;
  transition: color 3s, border-bottom 3s 1s;
  position: relative;
  height: fit-content;
}
.products--container .products--category .category--text .category--text--list li::after {
  content: "";
  height: 2px;
  background-color: #ababab;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -6px;
  transform: scaleX(0);
  transition: transform 0.7s;
}
.products--container .products--category .category--text .category--text--list li:hover {
  cursor: pointer;
}
.products--container .products--category .category--text .category--text--list li:hover::after {
  transform: scaleX(1);
}
.products--container .products--category .category--buttons {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
@media (min-width: 768px) {
  .products--container .products--category .category--buttons {
    align-items: end;
  }
}
.products--container .products--category .category--buttons .category--buttons--search {
  display: flex;
  gap: 5px;
  align-items: center;
  border: 1px solid #c2c2c2;
  width: fit-content;
  padding: 5px 15px;
  font-size: 1.1rem;
  color: #ababab;
  transition: all 0.3s;
  cursor: pointer;
}
.products--container .products--category .category--buttons .category--buttons--search:hover {
  background-color: #717fe0;
  color: #fff;
}
.products--container .products--category .category--buttons .category--buttons--search span {
  font-size: 0.95rem;
}
.products--container .products--category .category--buttons .category--buttons--input {
  position: absolute;
}
@keyframes showSearch {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(calc(100% + 10px));
  }
}
@keyframes hideSearch {
  0% {
    opacity: 1;
    transform: translateY(calc(100% + 10px));
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
    visibility: hidden;
  }
}
.products--container .products--category .category--buttons .category--buttons--input[aria-expanded=false] {
  animation: hideSearch 1s forwards;
}
.products--container .products--category .category--buttons .category--buttons--input[aria-expanded=true] {
  animation: showSearch 1s forwards;
}
.products--container .products--category .category--buttons .category--buttons--input input {
  font-size: 0.95rem;
  color: #222;
  padding: 5px 35px 5px 15px;
  min-width: 300px;
  outline: none;
  border: 1px solid #cacaca;
}
.products--container .products--category .category--buttons .category--buttons--input span {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: flex;
  font-size: 1.2rem;
}
.products--container .products--category .category--buttons .category--buttons--input span:hover {
  cursor: pointer;
}
.products--container .products--category .category--buttons .category--buttons--input span[aria-expanded=false] {
  visibility: hidden;
}
.products--container .products--grid {
  margin-top: 40px;
  display: grid;
  justify-content: center;
  gap: 20px;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
@media (min-width: 480px) {
  .products--container .products--grid {
    grid-template-columns: repeat(2, minmax(220px, 1fr));
  }
}
@media (min-width: 640px) {
  .products--container .products--grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
@media (min-width: 1024px) {
  .products--container .products--grid {
    grid-template-columns: repeat(3, minmax(0, 350px));
  }
}
@media (min-width: 1280px) {
  .products--container .products--grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
.products--container .products--load--button {
  display: flex;
  justify-content: center;
  padding: 70px 0;
  color: #222;
}
.products--container .products--load--button div {
  background-color: #cacaca;
  padding: 10px 45px;
  border-radius: 20px;
  transition: all 0.3s;
  text-transform: uppercase;
  font-size: 0.9rem;
}
.products--container .products--load--button div:hover {
  cursor: pointer;
  background-color: #222;
  color: #f5f6fd;
}

.blog .blog--header--image {
  height: 240px;
  background-image: url("../images/bg-02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog .blog--container {
  padding: 0 10px 60px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
@media (min-width: 768px) {
  .blog .blog--container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1280px) {
  .blog .blog--container {
    padding: 0 120px;
  }
}
.blog .blog--container .blog--blocks .blog-block {
  padding: 30px 0;
}
.blog .blog--container .blog--blocks .blog-block .blog--block--image {
  overflow: hidden;
  max-height: 360px;
}
.blog .blog--container .blog--blocks .blog-block .blog--block--image img {
  width: 100%;
  transition: transform 0.5s;
}
.blog .blog--container .blog--blocks .blog-block .blog--block--image img:hover {
  transform: scale(1.1);
}
.blog .blog--container .blog--blocks .blog-block h3 {
  font-size: 1.2rem;
  padding: 30px 0;
  color: #222;
}
.blog .blog--container .blog--blocks .blog-block p {
  font-size: 0.9rem;
  line-height: 120%;
  color: #ababab;
}
.blog .blog--container .blog--blocks .blog-block .blog--block--info {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}
@media (min-width: 768px) {
  .blog .blog--container .blog--blocks .blog-block .blog--block--info {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.blog .blog--container .blog--blocks .blog-block .blog--block--info .blog--block--author {
  display: flex;
}
.blog .blog--container .blog--blocks .blog-block .blog--block--info .blog--block--author p {
  color: #222;
  border-right: 1px solid #ababab;
  padding: 0 7px;
  font-size: 0.7rem;
}
.blog .blog--container .blog--blocks .blog-block .blog--block--info .blog--block--author p:first-child {
  padding-left: 0;
}
.blog .blog--container .blog--blocks .blog-block .blog--block--info .blog--block--author p:last-child {
  padding-right: 0;
  border: none;
}
.blog .blog--container .blog--blocks .blog-block .blog--block--info .blog--block--author p span {
  color: #ababab;
}
.blog .blog--container .blog--blocks .blog-block .blog--block--info .blog--block--continue {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: color 0.3s;
  font-size: 0.95rem;
  width: fit-content;
}
.blog .blog--container .blog--blocks .blog-block .blog--block--info .blog--block--continue:hover {
  color: #717fe0;
  cursor: pointer;
}
.blog .blog--container .blog--secondaries {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.blog .blog--container .blog--secondaries .blog--categories h3 {
  color: #222;
  font-size: 1.2rem;
}
.blog .blog--container .blog--secondaries .blog--categories ul {
  list-style: none;
  padding-top: 30px;
}
.blog .blog--container .blog--secondaries .blog--categories ul li {
  border-bottom: 1px solid #ababab;
  padding: 8px 0;
  font-size: 0.9rem;
}
.blog .blog--container .blog--secondaries .blog--categories ul li:first-child {
  border-top: 1px solid #ababab;
}
.blog .blog--container .blog--secondaries .blog--categories ul li a {
  color: #ababab;
  transition: color 0.2s;
}
.blog .blog--container .blog--secondaries .blog--categories ul li a:hover {
  color: #5f6bbd;
  cursor: pointer;
}
.blog .blog--container .blog--secondaries .featured-products {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.blog .blog--container .blog--secondaries .featured-products .featured--product {
  display: flex;
  gap: 10px;
}
.blog .blog--container .blog--secondaries .featured-products .featured--product div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.blog .blog--container .blog--secondaries .featured-products .featured--product div p {
  color: #ababab;
  font-size: 0.9rem;
}
.blog .blog--container .blog--secondaries .blog--archive ul {
  list-style: none;
  padding-top: 20px;
}
.blog .blog--container .blog--secondaries .blog--archive ul li {
  display: flex;
  justify-content: space-between;
  font-size: 0.95rem;
  margin: 5px 0;
  transition: color 0.2s;
  color: #ababab;
}
.blog .blog--container .blog--secondaries .blog--archive ul li:hover {
  cursor: pointer;
  color: #5f6bbd;
}
.blog .blog--container .blog--secondaries .blog--tags ul {
  padding-top: 30px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.blog .blog--container .blog--secondaries .blog--tags ul li {
  border: 1px solid #ababab;
  border-radius: 15px;
  color: #ababab;
  font-size: 0.9rem;
  padding: 3px 8px;
  transition: all 0.2s;
}
.blog .blog--container .blog--secondaries .blog--tags ul li:hover {
  color: #717fe0;
  border-color: #717fe0;
  cursor: pointer;
}

.about .about--header--image {
  height: 240px;
  background-image: url("../images/bg-01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .about--story--mission {
  padding: 60px 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media (min-width: 1280px) {
  .about .about--story--mission {
    padding: 60px 120px;
  }
}
.about .about--story--mission h4 {
  color: #222;
  font-size: 1.5rem;
  padding-bottom: 25px;
}
.about .about--story--mission p {
  color: #ababab;
  font-size: 0.9rem;
}
.about .about--story--mission .about--story {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 768px) {
  .about .about--story--mission .about--story {
    flex-direction: row;
    gap: 100px;
  }
}
.about .about--story--mission .about--story .about--story--image {
  overflow: hidden;
  max-height: 500px;
}
@media (min-width: 768px) {
  .about .about--story--mission .about--story .about--story--image {
    min-width: 370px;
    max-height: 370px;
  }
}
.about .about--story--mission .about--story .about--story--image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}
.about .about--story--mission .about--story .about--story--image img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.about .about--story--mission .about--mission {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 768px) {
  .about .about--story--mission .about--mission {
    flex-direction: row;
    gap: 100px;
  }
  .about .about--story--mission .about--mission div {
    order: 2;
  }
}
.about .about--story--mission .about--mission .about--mission--image {
  overflow: hidden;
  max-height: 500px;
  order: 1;
}
@media (min-width: 768px) {
  .about .about--story--mission .about--mission .about--mission--image {
    min-width: 370px;
    max-height: 370px;
  }
}
.about .about--story--mission .about--mission .about--mission--image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}
.about .about--story--mission .about--mission .about--mission--image img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.contact {
  position: relative;
}
.contact .contact--error {
  animation: showError 0.5s forwards;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  background-color: #f74877;
  padding: 5px 10px;
  color: #fff;
}
@media (max-width: 640px) {
  .contact .contact--error {
    width: calc(100% - 40px);
  }
}
@keyframes showError {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hideError {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.contact .contact--error[aria-expanded=false] {
  animation: hideError 0.5s forwards;
}
.contact .contact--success {
  animation: showSuccess 0.5s forwards;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  background-color: rgb(85, 185, 189);
  padding: 5px 10px;
  color: #fff;
}
@keyframes showSuccess {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hideSuccess {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.contact .contact--success[aria-expanded=false] {
  animation: hideSuccess 0.5s forwards;
}
.contact .contact--header--image {
  height: 240px;
  background-image: url("../images/bg-01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 60%;
}
.contact .contact--form--info {
  border: 1.5px solid #cacaca;
  margin: 100px 10px;
  border-radius: 2px;
  display: grid;
}
@media (min-width: 780px) {
  .contact .contact--form--info {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1280px) {
  .contact .contact--form--info {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
  }
}
.contact .contact--form--info .contact--form--container {
  padding: 60px 10px;
}
@media (min-width: 780px) {
  .contact .contact--form--info .contact--form--container {
    padding: 50px 40px;
    border-right: 1px solid #cacaca;
  }
}
.contact .contact--form--info .contact--form--container h3 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 300;
  color: #222;
}
.contact .contact--form--info .contact--form--container .contact--form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-color: #cacaca;
}
.contact .contact--form--info .contact--form--container .contact--form .contact--form--email {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid #cacaca;
  padding: 10px 15px;
}
.contact .contact--form--info .contact--form--container .contact--form .contact--form--email span {
  font-size: 1.5rem;
  display: flex;
  color: #ababab;
}
.contact .contact--form--info .contact--form--container .contact--form .contact--form--email input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 0.9rem;
  color: #222;
}
.contact .contact--form--info .contact--form--container .contact--form .contact--form--textarea {
  display: flex;
  gap: 10px;
  justify-content: center;
  border: 1px solid #cacaca;
  padding: 15px 0 0 15px;
}
.contact .contact--form--info .contact--form--container .contact--form .contact--form--textarea textarea {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 0.9rem;
  color: #222;
  resize: vertical;
  min-height: 200px;
}
.contact .contact--form--info .contact--form--container .contact--form .contact--form--submit {
  height: 50px;
  border-radius: 20px;
  border: none;
  background-color: #222;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s;
}
.contact .contact--form--info .contact--form--container .contact--form .contact--form--submit:hover {
  background-color: #5f6bbd;
  cursor: pointer;
}
.contact .contact--form--info .contact--info {
  padding: 60px 10px;
  color: #222;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-top: 1px solid #cacaca;
}
@media (min-width: 780px) {
  .contact .contact--form--info .contact--info {
    border-top: none;
    padding: 60px 40px;
  }
}
.contact .contact--form--info .contact--info div {
  display: flex;
  gap: 20px;
}
.contact .contact--form--info .contact--info div:first-child p:last-child {
  color: #ababab !important;
}
.contact .contact--form--info .contact--info div div:first-child {
  font-size: 1.5rem;
  color: #ababab;
}
.contact .contact--form--info .contact--info div div:last-child {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 0.9rem;
  color: #222;
}
.contact .contact--form--info .contact--info div div:last-child p:last-child {
  color: #717fe0;
}
.contact .contact--form--info .contact--info div div:last-child p:last-child {
  color: #717fe0;
}

.product--detail--modal--container {
  height: 100%;
  max-height: 100vh;
  overflow-y: scroll;
  width: 100%;
  background-color: rgba(34, 34, 34, 0.8);
  color: #fff;
  position: fixed;
  inset: 0 0 0 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 10px;
  animation: showProductDetails 0.5s;
}
@keyframes showProductDetails {
  0% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(100%);
    opacity: 1;
  }
}
@media (min-width: 768px) {
  .product--detail--modal--container {
    overflow-y: hidden;
  }
}
.product--detail--modal--container .modal--close {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 2rem;
  color: #ababab;
  text-align: end;
  cursor: pointer;
  width: max-content;
  margin: 0 0 0 auto;
  padding: 2px;
  transition: background-color 0.3s;
}
.product--detail--modal--container .modal--close:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.product--detail--modal--container .product--detail--container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: fit-content;
  background-color: #fff;
  color: #222;
  gap: 30px;
  padding: 20px 10px;
  max-width: 900px;
  margin-inline: auto;
}
@media (min-width: 768px) {
  .product--detail--modal--container .product--detail--container {
    flex-direction: row;
    top: 50%;
    transform: translateY(-50%);
  }
}
.product--detail--modal--container .product--detail--container .images--list--slider {
  display: flex;
  gap: 10px;
  max-width: 100%;
}
.product--detail--modal--container .product--detail--container .images--list--slider .images--list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 50px;
  max-width: 120px;
}
.product--detail--modal--container .product--detail--container .images--list--slider .images--list div {
  height: 100%;
}
.product--detail--modal--container .product--detail--container .images--list--slider .images--list div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.3s;
}
.product--detail--modal--container .product--detail--container .images--list--slider .images--list div img:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.product--detail--modal--container .product--detail--container .images--list--slider .images--slider--container {
  display: flex;
  position: relative;
  width: 100%;
}
@keyframes showSlideImage {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.product--detail--modal--container .product--detail--container .images--list--slider .images--slider--container .images--slider {
  height: 100%;
  width: 100%;
  min-width: 200px;
}
.product--detail--modal--container .product--detail--container .images--list--slider .images--slider--container .images--slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: showSlideImage 0.5s;
}
.product--detail--modal--container .product--detail--container .images--list--slider .images--slider--container .images--slider img[data-visibility=false] {
  display: none;
}
.product--detail--modal--container .product--detail--container .images--list--slider .images--slider--container .images--slider--arrows {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.product--detail--modal--container .product--detail--container .images--list--slider .images--slider--container .images--slider--arrows div {
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  padding: 10px;
  transition: all 0.5s;
}
.product--detail--modal--container .product--detail--container .images--list--slider .images--slider--container .images--slider--arrows div:hover {
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
.product--detail--modal--container .product--detail--container .product--detail--info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product--detail--modal--container .product--detail--container .product--detail--info .product--detail--header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product--detail--modal--container .product--detail--container .product--detail--info .product--detail--header h1 {
  font-size: 1.3rem;
  font-weight: 200;
  color: #222;
}
.product--detail--modal--container .product--detail--container .product--detail--info .product--detail--header p {
  color: #ababab;
  font-size: 0.95rem;
}
.product--detail--modal--container .product--detail--container .product--detail--info .product--detail--header p:last-child {
  color: #222;
  font-size: 0.9rem;
}
.product--detail--modal--container .product--detail--container .product--detail--info .product--detail--inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product--detail--modal--container .product--detail--container .product--detail--info .product--detail--inputs .product--detail--size {
  display: grid;
  grid-template-columns: 50px auto;
  align-items: center;
  gap: 30px;
}
.product--detail--modal--container .product--detail--container .product--detail--info .product--detail--inputs .product--detail--size .dropDownSize {
  position: relative;
}
.product--detail--modal--container .product--detail--container .product--detail--info .product--detail--inputs .product--detail--size .dropDownSize[aria-expanded=true] ul {
  opacity: 1;
  visibility: visible;
}
.product--detail--modal--container .product--detail--container .product--detail--info .product--detail--inputs .product--detail--size .dropDownSize::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 12px;
  z-index: 9999;
  width: 10px;
  height: 10px;
  border: 2px solid grey;
  border-top: transparent;
  border-right: transparent;
  transform: rotate(-45deg);
  pointer-events: none;
  transition: all 0.3s linear;
}
.product--detail--modal--container .product--detail--container .product--detail--info .product--detail--inputs .product--detail--size .dropDownSize input {
  width: 100%;
  padding: 8px 10px;
  cursor: pointer;
  border: 1px solid #cacaca;
  outline: none;
  box-shadow: 0 10px 25px rgba(124, 130, 141, 0.2);
  font-size: 0.95rem;
  user-select: none;
}
.product--detail--modal--container .product--detail--container .product--detail--info .product--detail--inputs .product--detail--size .dropDownSize ul {
  cursor: pointer;
  z-index: 10000;
  box-shadow: 0 10px 25px rgba(124, 130, 141, 0.2);
  overflow: hidden;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  transition: all 0.3s ease;
  background: #fff;
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  opacity: 0;
  visibility: hidden;
}
.product--detail--modal--container .product--detail--container .product--detail--info .product--detail--inputs .product--detail--size .dropDownSize ul li {
  width: 100%;
  padding: 4px 10px;
  color: #292d34;
}
.product--detail--modal--container .product--detail--container .product--detail--info .product--detail--inputs .product--detail--size .dropDownSize ul li:hover {
  color: #fff;
  background-color: #717fe0;
}
.product--detail--modal--container .product--detail--container .product--detail--info .product--detail--inputs .product--detail--color {
  display: grid;
  grid-template-columns: 50px auto;
  align-items: center;
  gap: 30px;
}
.product--detail--modal--container .product--detail--container .product--detail--info .product--detail--inputs .product--detail--color .dropDownColor {
  position: relative;
}
.product--detail--modal--container .product--detail--container .product--detail--info .product--detail--inputs .product--detail--color .dropDownColor[aria-expanded=true] ul {
  opacity: 1;
  visibility: visible;
}
.product--detail--modal--container .product--detail--container .product--detail--info .product--detail--inputs .product--detail--color .dropDownColor::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 12px;
  z-index: 9999;
  width: 10px;
  height: 10px;
  border: 2px solid grey;
  border-top: transparent;
  border-right: transparent;
  transform: rotate(-45deg);
  pointer-events: none;
  transition: all 0.3s linear;
}
.product--detail--modal--container .product--detail--container .product--detail--info .product--detail--inputs .product--detail--color .dropDownColor input {
  width: 100%;
  padding: 8px 10px;
  cursor: pointer;
  border: 1px solid #cacaca;
  outline: none;
  box-shadow: 0 10px 25px rgba(124, 130, 141, 0.2);
  font-size: 0.95rem;
  user-select: none;
}
.product--detail--modal--container .product--detail--container .product--detail--info .product--detail--inputs .product--detail--color .dropDownColor ul {
  width: 100%;
  cursor: pointer;
  z-index: 10000;
  box-shadow: 0 10px 25px rgba(124, 130, 141, 0.2);
  overflow: hidden;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  transition: all 0.3s ease;
  background: #fff;
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  opacity: 0;
  visibility: hidden;
}
.product--detail--modal--container .product--detail--container .product--detail--info .product--detail--inputs .product--detail--color .dropDownColor ul li {
  padding: 4px 10px;
  color: #292d34;
}
.product--detail--modal--container .product--detail--container .product--detail--info .product--detail--inputs .product--detail--color .dropDownColor ul li:hover {
  color: #fff;
  background-color: #717fe0;
}
.product--detail--modal--container .product--detail--container .product--detail--info .product--detail--inputs .product--detail--amount--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.product--detail--modal--container .product--detail--container .product--detail--info .product--detail--inputs .product--detail--amount--container .product--detail--amount {
  display: grid;
  grid-template-columns: 50px auto;
  align-items: center;
  gap: 30px;
}
.product--detail--modal--container .product--detail--container .product--detail--info .product--detail--inputs .product--detail--amount--container .product--detail--amount .product--detail--amount--buttons {
  display: flex;
  gap: 10px;
}
.product--detail--modal--container .product--detail--container .product--detail--info .product--detail--inputs .product--detail--amount--container .product--detail--amount .product--detail--amount--buttons span {
  padding: 5px 15px;
  cursor: pointer;
  background-color: rgba(34, 34, 34, 0.8);
  color: #fff;
  transition: all 0.3s;
}
.product--detail--modal--container .product--detail--container .product--detail--info .product--detail--inputs .product--detail--amount--container .product--detail--amount .product--detail--amount--buttons span:hover {
  background-color: #717fe0;
}
.product--detail--modal--container .product--detail--container .product--detail--info .product--detail--inputs .product--detail--amount--container .product--detail--amount .product--detail--amount--buttons input {
  width: 3rem;
  padding: 8px 10px;
  border: 1px solid #cacaca;
  font-size: 0.9rem;
  text-align: center;
}
.product--detail--modal--container .product--detail--container .product--detail--info .product--detail--inputs .product--detail--amount--container .product--detail--amount .product--detail--amount--buttons input:focus {
  outline: none;
}
.product--detail--modal--container .product--detail--container .product--detail--info .product--detail--inputs .product--detail--amount--container .product--detail--add {
  background-color: rgba(34, 34, 34, 0.8);
  padding: 8px 20px;
  color: #fff;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s;
}
.product--detail--modal--container .product--detail--container .product--detail--info .product--detail--inputs .product--detail--amount--container .product--detail--add:hover {
  background-color: #717fe0;
}
.product--detail--modal--container .product--detail--container .product--detail--info .product--detail--footer {
  margin-top: 50px;
  display: flex;
  gap: 10px;
  font-size: 1.2rem;
}
.product--detail--modal--container .product--detail--container .product--detail--info .product--detail--footer div {
  border-right: 1px solid #cacaca;
  padding-right: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
  color: #424242;
}
.product--detail--modal--container .product--detail--container .product--detail--info .product--detail--footer div:hover {
  color: #5f6bbd;
}
.product--detail--modal--container .product--detail--container .product--detail--info .product--detail--footer div:last-child {
  border: none;
}
.product--detail--modal--container .product--detail--container .product--detail--info .addToCartError {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  min-width: 300px;
  gap: 10px;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.product--detail--modal--container .product--detail--container .product--detail--info .addToCartError div {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 126, 126);
}
.product--detail--modal--container .product--detail--container .product--detail--info .addToCartError div div {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #fff;
  animation: appear 0.5s forwards;
  font-size: 0.9rem;
}
.product--detail--modal--container .product--detail--container .product--detail--info .addToCartError div div:last-child {
  font-size: 1.2rem;
  transition: all 0.3s;
  cursor: pointer;
}
.product--detail--modal--container .product--detail--container .product--detail--info .addToCartError div div:last-child:hover {
  background-color: rgb(255, 97, 97);
}
.product--detail--modal--container .product--detail--container .product--detail--info .addToCartSuccess {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 300px;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.product--detail--modal--container .product--detail--container .product--detail--info .addToCartSuccess div {
  display: flex;
  justify-content: space-between;
  background-color: rgb(85, 185, 189);
}
.product--detail--modal--container .product--detail--container .product--detail--info .addToCartSuccess div div {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #fff;
  animation: appear 0.5 forwards;
  font-size: 0.9rem;
}
.product--detail--modal--container .product--detail--container .product--detail--info .addToCartSuccess div div:last-child {
  font-size: 1.2rem;
  transition: all 0.3s;
  cursor: pointer;
}
.product--detail--modal--container .product--detail--container .product--detail--info .addToCartSuccess div div:last-child:hover {
  background-color: rgb(74, 150, 153);
}

.side--shopping--cart--bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
}
@keyframes fadeOutBg {
  0% {
    background-color: rgba(34, 34, 34, 0.5);
  }
  100% {
    background-color: rgba(34, 34, 34, 0);
    visibility: hidden;
  }
}
@keyframes fadeInBg {
  0% {
    background-color: rgba(34, 34, 34, 0);
  }
  100% {
    background-color: rgba(34, 34, 34, 0.5);
  }
}
.side--shopping--cart--bg[aria-expanded=false] {
  animation: fadeOutBg 1s forwards;
}
.side--shopping--cart--bg[aria-expanded=false] .side--shopping--cart--container {
  transform: translateX(100%);
  transition: transform 0.5s;
}
.side--shopping--cart--bg[aria-expanded=true] {
  animation: fadeInBg 1s forwards;
}
.side--shopping--cart--bg[aria-expanded=true] .side--shopping--cart--container {
  transform: translateX(0);
  transition: transform 0.5s;
}
.side--shopping--cart--bg .side--shopping--cart--container {
  width: min(400px, 90vw);
  background-color: rgba(255, 255, 255, 0.85);
  padding: 50px 60px;
}
.side--shopping--cart--bg .side--shopping--cart--container .side--shopping--cart--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.side--shopping--cart--bg .side--shopping--cart--container .side--shopping--cart--header div:last-child {
  padding: 5px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
}
.side--shopping--cart--bg .side--shopping--cart--container .side--shopping--cart--header div:last-child:hover {
  color: #5f6bbd;
}
.side--shopping--cart--bg .side--shopping--cart--container .side--shopping--cart--products {
  margin-block: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 0.8rem;
}
.side--shopping--cart--bg .side--shopping--cart--container .side--shopping--cart--products .product--cart-container {
  display: grid;
  grid-template-columns: 70px 1fr;
  align-items: flex-start;
  gap: 10px;
  transition: all 0.2s;
}
.side--shopping--cart--bg .side--shopping--cart--container .side--shopping--cart--products .product--cart-container .product--cart--image--container {
  height: 100%;
  position: relative;
  transition: all 0.3s;
}
@keyframes deleteProduct {
  0% {
    background-color: rgba(34, 34, 34, 0);
  }
  100% {
    background-color: rgba(34, 34, 34, 0.5);
  }
}
.side--shopping--cart--bg .side--shopping--cart--container .side--shopping--cart--products .product--cart-container .product--cart--image--container:hover span {
  animation: deleteProduct 0.5s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  color: #fff;
  font-size: 1.3rem;
  position: absolute;
  top: 0;
  left: 0;
}
.side--shopping--cart--bg .side--shopping--cart--container .side--shopping--cart--products .product--cart-container .product--cart--image--container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: red;
  z-index: -1;
}
.side--shopping--cart--bg .side--shopping--cart--container .side--shopping--cart--products .product--cart-container .product--cart--image--container span {
  display: none;
}
.side--shopping--cart--bg .side--shopping--cart--container .side--shopping--cart--products .product--cart-container .product--cart--info--container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.side--shopping--cart--bg .side--shopping--cart--container .side--shopping--cart--products .product--cart-container .product--cart--info--container p {
  font-size: 0.85rem;
}
.side--shopping--cart--bg .side--shopping--cart--container .side--shopping--cart--totalprice--checkout {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  bottom: 50px;
}
.side--shopping--cart--bg .side--shopping--cart--container .side--shopping--cart--totalprice--checkout .side--shopping--cart--totalprice {
  font-size: 0.9rem;
  width: fit-content;
}
.side--shopping--cart--bg .side--shopping--cart--container .side--shopping--cart--totalprice--checkout .side--shopping--cart--checkout {
  background-color: #222;
  color: #fff;
  width: fit-content;
  font-size: 0.9rem;
  padding: 6px 20px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.2s;
}
.side--shopping--cart--bg .side--shopping--cart--container .side--shopping--cart--totalprice--checkout .side--shopping--cart--checkout:hover {
  background-color: #5f6bbd;
}

.footer--container {
  background-color: #222;
  color: #c2c2c2;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}
.footer--container .footer--container--wrap {
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(1, min-width(0, 1fr));
  font-size: 0.85rem;
}
@media (min-width: 640px) {
  .footer--container .footer--container--wrap {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  .footer--container .footer--container--wrap {
    padding: 0 120px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.footer--container .footer--container--wrap div h3 {
  text-transform: uppercase;
  padding-top: 40px;
}
.footer--container .footer--container--wrap div ul {
  list-style: none;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 0.75rem;
}
.footer--container .footer--container--wrap div ul li a {
  transition: color 0.3s;
}
.footer--container .footer--container--wrap div ul li a:hover {
  color: #5f6bbd;
  cursor: pointer;
}
.footer--container .footer--container--wrap div p {
  padding-top: 30px;
  font-size: 0.8rem;
}
.footer--container .footer--container--wrap .footer--social--icons {
  padding: 35px 0;
  color: #ababab;
  display: flex;
  gap: 15px;
  font-size: 1.2rem;
}
.footer--container .footer--container--wrap .footer--social--icons div {
  transition: color 0.3s;
}
.footer--container .footer--container--wrap .footer--social--icons div:hover {
  color: #5f6bbd;
  cursor: pointer;
}
.footer--container .footer--payment--icons {
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 5px;
}
@media (min-width: 1024px) {
  .footer--container .footer--payment--icons {
    padding-top: 40px;
  }
}

.spinner--container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner--container .lds-roller {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.spinner--container .lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.spinner--container .lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #222;
  margin: -4px 0 0 -4px;
}
.spinner--container .lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.spinner--container .lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.spinner--container .lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.spinner--container .lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.spinner--container .lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.spinner--container .lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.spinner--container .lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.spinner--container .lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.spinner--container .lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.spinner--container .lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.spinner--container .lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.spinner--container .lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.spinner--container .lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.spinner--container .lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.spinner--container .lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.spinner--container .lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

.error--page {
  min-height: 100vh;
  background-color: #fff;
  color: #424242;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*# sourceMappingURL=app.css.map */
