.nav--container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
}
.nav--container .nav--mobile {
  display: flex;
  background-color: #fff;
  order: 1;
  justify-content: space-between;
  padding: 25px 15px 20px 15px;
  z-index: 1;
}
@media (min-width: 780px) {
  .nav--container .nav--mobile {
    display: none;
  }
}
.nav--container .nav--mobile .mobile--rightIcons {
  display: flex;
  gap: 23px;
  font-size: 1.5rem;
  opacity: 0.8;
}
.nav--container .nav--mobile .mobile--rightIcons div {
  color: #000;
  transition: color 0.2s;
  display: flex;
}
.nav--container .nav--mobile .mobile--rightIcons div:hover {
  cursor: pointer;
  color: #717fe0;
}
.nav--container .nav--mobile .mobile--rightIcons div:last-child {
  color: #000;
}
.nav--container .nav--primary {
  background-color: #717fe0;
  opacity: 0.8;
  color: #f5f6fd;
  order: 3;
  font-size: 0.9rem;
  z-index: 1;
}
@media (min-width: 780px) {
  .nav--container .nav--primary {
    background-color: transparent;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px;
  }
}
.nav--container .nav--primary ul {
  padding: 18px 15px 18px 15px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (min-width: 780px) {
  .nav--container .nav--primary ul {
    flex-direction: row;
    padding: 0;
    gap: 30px;
  }
}
.nav--container .nav--primary ul li {
  position: relative;
}
.nav--container .nav--primary ul li a {
  transition: color 0.2s;
}
.nav--container .nav--primary ul li a:hover {
  cursor: pointer;
  color: #c2c2c2;
}
@media (min-width: 780px) {
  .nav--container .nav--primary ul li a:hover {
    color: #717fe0;
  }
}
.nav--container .nav--primary ul li .hot {
  background-color: #f74877;
  color: #fff;
  font-size: 0.65em;
  text-transform: uppercase;
  margin-left: 5px;
  padding: 2px 5px;
  vertical-align: text-top;
  border-radius: 25%;
}
@media (min-width: 780px) {
  .nav--container .nav--primary ul li .hot {
    position: absolute;
    top: -15px;
    left: 50px;
  }
}
.nav--container .nav--primary .desktop--navbar--block {
  display: none;
}
@media (min-width: 780px) {
  .nav--container .nav--primary .desktop--navbar--block {
    display: flex;
  }
}
@media (min-width: 1024px) {
  .nav--container .nav--primary .desktop--logo {
    padding-left: 140px;
  }
}
@media (min-width: 780px) {
  .nav--container .nav--primary .desktop--icons {
    display: flex;
    gap: 16px;
    font-size: 1.4rem;
  }
  .nav--container .nav--primary .desktop--icons div {
    transition: color 0.2s;
  }
  .nav--container .nav--primary .desktop--icons div:hover {
    cursor: pointer;
    color: #717fe0;
  }
}
@media (min-width: 1024px) {
  .nav--container .nav--primary .desktop--icons {
    padding-right: 140px;
  }
}
.nav--container .nav--secondary {
  background-color: #222;
  color: #ababab;
  order: 2;
  font-size: 0.7rem;
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 11px 15px 11px 15px;
  z-index: 1;
}
@media (min-width: 780px) {
  .nav--container .nav--secondary {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }
}
.nav--container .nav--secondary p {
  font-size: 0.75rem;
  border-bottom: 1px solid #424242;
  padding-bottom: 7px;
}
@media (min-width: 780px) {
  .nav--container .nav--secondary p {
    padding: 0;
    border-bottom: none;
  }
}
@media (min-width: 1024px) {
  .nav--container .nav--secondary p {
    padding-left: 140px;
  }
}
.nav--container .nav--secondary ul {
  display: flex;
  list-style: none;
}
@media (min-width: 1024px) {
  .nav--container .nav--secondary ul {
    padding-right: 140px;
  }
}
.nav--container .nav--secondary ul li {
  border-left: 1px solid #424242;
  padding: 0 6px;
}
@media (min-width: 780px) {
  .nav--container .nav--secondary ul li {
    padding: 8px 10px;
  }
}
.nav--container .nav--secondary ul li:last-child {
  border-right: 1px solid #424242;
}
.nav--container .nav--secondary ul li a {
  transition: color 0.2s;
}
.nav--container .nav--secondary ul li a:hover {
  cursor: pointer;
  color: #717fe0;
}

.slider--container {
  font-family: "Playfair Display", serif;
  height: calc(100vh - 13px);
  position: absolute;
  inset: 13px 0 0 0;
  overflow-y: hidden;
}
.slider--container .slide--wrap {
  height: 100vh;
}
.slider--container .slide--wrap .slide {
  height: 100%;
}
.slider--container .slide--wrap .slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 60% 100%;
  padding-top: 20px;
}
.slider--container .slide--wrap .slide .slide--text {
  color: #222222;
  position: absolute;
  inset: 50% 0 0 3%;
}
@media (min-width: 1024px) {
  .slider--container .slide--wrap .slide .slide--text {
    inset: 50% 0 0 10%;
  }
}
.slider--container .slide--wrap .slide .slide--text .slide--text1 {
  font-size: 1.8rem;
}
@media (min-width: 1024px) {
  .slider--container .slide--wrap .slide .slide--text .slide--text1 {
    font-size: 2.5rem;
  }
}
.slider--container .slide--wrap .slide .slide--text .slide--text2 {
  font-size: 3.2rem;
}
@media (min-width: 1024px) {
  .slider--container .slide--wrap .slide .slide--text .slide--text2 {
    font-size: 4rem;
  }
}
.slider--container .slide--wrap .slide .slide--text .slide--text3 {
  color: #fff;
  background-color: #717fe0;
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  transition: background-color 0.2s;
}
.slider--container .slide--wrap .slide .slide--text .slide--text3:hover {
  background-color: #5f6bbd;
  cursor: pointer;
}
.slider--container .slider--buttons {
  background-color: transparent;
  position: absolute;
  top: 45%;
  width: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
}
@media (min-width: 1024px) {
  .slider--container .slider--buttons {
    font-size: 2.3rem;
  }
}
.slider--container .slider--buttons div {
  color: #c2c2c2;
  transition: color 0.2s;
}
.slider--container .slider--buttons div:hover {
  color: #717fe0;
  cursor: pointer;
}

.category--container {
  font-family: "Montserrat", sans-serif;
  position: relative;
  border: 1px solid #cacaca;
  color: #424242;
}
.category--container:hover {
  background-color: #717fe0;
  cursor: pointer;
}
.category--container:hover img {
  opacity: 0.4;
}
.category--container:hover .category--text {
  color: #fff;
}
.category--container:hover .category--link {
  bottom: 20px;
}
.category--container:hover .category--link::after {
  transform: scaleX(1);
}
.category--container img {
  width: 100%;
  height: 100%;
  transition: opacity 0.4s;
}
.category--container .category--text {
  position: absolute;
  top: 20px;
  left: 20px;
}
.category--container .category--text h4 {
  font-size: 1rem;
}
.category--container .category--text p {
  font-size: 0.8rem;
  padding-top: 10px;
}
.category--container .category--link {
  position: absolute;
  left: 20px;
  bottom: -20px;
  font-size: 0.9rem;
  color: #fff;
  transition: bottom 1s;
}
.category--container .category--link::after {
  content: "";
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -6px;
  transform: scaleX(0);
  transition: transform 1s 0.5s;
}

.categories--container {
  margin-top: 40px;
  padding: 0 10px;
  display: grid;
  justify-content: center;
  gap: 25px;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
@media (min-width: 640px) {
  .categories--container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  .categories--container {
    padding: 0 120px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 1280px) {
  .categories--container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.product--container {
  display: flex;
  flex-direction: column;
}
.product--container .product--image--container div {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.product--container .product--image--container div:hover img {
  transform: scale(1.1);
}
.product--container .product--image--container div:hover p {
  bottom: 20px;
}
.product--container .product--image--container div img {
  height: 100%;
  width: 100%;
  transition: all 0.8s ease;
  object-fit: cover;
}
.product--container .product--image--container div p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -100%;
  color: #222;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  text-transform: uppercase;
  font-size: 0.8rem;
  transition: bottom 0.5s, background-color 0.4s, color 0.4s;
}
@media (min-width: 1024px) {
  .product--container .product--image--container div p {
    font-size: 0.65rem;
  }
}
.product--container .product--image--container div p:hover {
  background-color: #222;
  color: #fff;
}
.product--container div {
  font-size: 0.9rem;
  margin: 10px 0;
}
.product--container div p {
  color: #ababab;
  transition: all 0.2s;
}
.product--container div p:hover {
  color: #5f6bbd;
  cursor: pointer;
}
.product--container p {
  font-size: 0.9rem;
  color: #ababab;
}

.products--container {
  margin-top: 40px;
  padding: 0 10px;
}
@media (min-width: 1024px) {
  .products--container {
    padding: 0 120px;
  }
}
.products--container h2 {
  font-family: "Popping";
  color: #222;
  font-size: 1.7rem;
  text-transform: uppercase;
}
@media (min-width: 1024px) {
  .products--container h2 {
    font-size: 2.1rem;
  }
}
.products--container .products--category {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}
.products--container .products--category .category--text--list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.products--container .products--category .category--text--list li {
  color: #ababab;
  margin: 3px 15px 3px 0;
  transition: color 3s, border-bottom 3s 1s;
  position: relative;
}
.products--container .products--category .category--text--list li::after {
  content: "";
  height: 2px;
  background-color: #ababab;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -6px;
  transform: scaleX(0);
  transition: transform 0.7s;
}
.products--container .products--category .category--text--list li:hover {
  cursor: pointer;
}
.products--container .products--category .category--text--list li:hover::after {
  transform: scaleX(1);
}
.products--container .products--category .category--buttons {
  display: flex;
  gap: 10px;
}
.products--container .products--category .category--buttons div {
  display: flex;
  align-items: center;
  border: 1px solid #c2c2c2;
  padding: 5px 10px;
  font-size: 1.1rem;
  color: #ababab;
  transition: all 0.3s;
}
.products--container .products--category .category--buttons div:hover {
  cursor: pointer;
  background-color: #717fe0;
  color: #fff;
}
.products--container .products--category .category--buttons div span {
  padding-left: 5px;
  font-size: 0.95rem;
}
.products--container .products--grid {
  margin-top: 40px;
  display: grid;
  justify-content: center;
  gap: 20px;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
@media (min-width: 640px) {
  .products--container .products--grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  .products--container .products--grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 1280px) {
  .products--container .products--grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
.products--container .products--load--button {
  display: flex;
  justify-content: center;
  padding: 70px 0;
  color: #222;
}
.products--container .products--load--button div {
  background-color: #cacaca;
  padding: 10px 45px;
  border-radius: 20px;
  transition: all 0.3s;
  text-transform: uppercase;
  font-size: 0.9rem;
}
.products--container .products--load--button div:hover {
  cursor: pointer;
  background-color: #222;
  color: #f5f6fd;
}

/*# sourceMappingURL=app.css.map */
