.nav--container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
}
.nav--container .nav--mobile {
  display: flex;
  background-color: #fff;
  order: 1;
  justify-content: space-between;
  padding: 25px 15px 20px 15px;
  z-index: 1;
}
@media (min-width: 780px) {
  .nav--container .nav--mobile {
    display: none;
  }
}
.nav--container .nav--mobile .mobile--rightIcons {
  display: flex;
  gap: 23px;
  font-size: 1.5rem;
  opacity: 0.8;
}
.nav--container .nav--mobile .mobile--rightIcons div {
  color: #000;
  transition: color 0.2s;
  display: flex;
}
.nav--container .nav--mobile .mobile--rightIcons div:hover {
  cursor: pointer;
  color: #717fe0;
}
.nav--container .nav--mobile .mobile--rightIcons div:last-child {
  color: #000;
}
.nav--container .nav--primary {
  background-color: #717fe0;
  color: #f5f6fd;
  order: 3;
  font-size: 0.9rem;
  z-index: 1;
}
@media (min-width: 780px) {
  .nav--container .nav--primary {
    background-color: transparent;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px;
  }
}
.nav--container .nav--primary ul {
  padding: 18px 15px 18px 15px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (min-width: 780px) {
  .nav--container .nav--primary ul {
    flex-direction: row;
    padding: 0;
    gap: 30px;
  }
}
.nav--container .nav--primary ul li {
  position: relative;
}
.nav--container .nav--primary ul li a {
  transition: color 0.2s;
}
.nav--container .nav--primary ul li a:hover {
  cursor: pointer;
  color: #c2c2c2;
}
@media (min-width: 780px) {
  .nav--container .nav--primary ul li a:hover {
    color: #717fe0;
  }
}
.nav--container .nav--primary ul li .hot {
  background-color: #f74877;
  color: #fff;
  font-size: 0.65em;
  text-transform: uppercase;
  margin-left: 5px;
  padding: 2px 5px;
  vertical-align: text-top;
  border-radius: 25%;
}
@media (min-width: 780px) {
  .nav--container .nav--primary ul li .hot {
    position: absolute;
    top: -15px;
    left: 50px;
  }
}
.nav--container .nav--primary .desktop--navbar--block {
  display: none;
}
@media (min-width: 780px) {
  .nav--container .nav--primary .desktop--navbar--block {
    display: flex;
  }
}
@media (min-width: 1024px) {
  .nav--container .nav--primary .desktop--logo {
    padding-left: 140px;
  }
}
@media (min-width: 780px) {
  .nav--container .nav--primary .desktop--icons {
    display: flex;
    gap: 16px;
    font-size: 1.4rem;
  }
  .nav--container .nav--primary .desktop--icons div {
    transition: color 0.2s;
  }
  .nav--container .nav--primary .desktop--icons div:hover {
    cursor: pointer;
    color: #717fe0;
  }
}
@media (min-width: 1024px) {
  .nav--container .nav--primary .desktop--icons {
    padding-right: 140px;
  }
}
.nav--container .nav--secondary {
  background-color: #222;
  color: #ababab;
  order: 2;
  font-size: 0.7rem;
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 11px 15px 11px 15px;
  z-index: 1;
}
@media (min-width: 780px) {
  .nav--container .nav--secondary {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }
}
.nav--container .nav--secondary p {
  font-size: 0.75rem;
  border-bottom: 1px solid #424242;
  padding-bottom: 7px;
}
@media (min-width: 780px) {
  .nav--container .nav--secondary p {
    padding: 0;
    border-bottom: none;
  }
}
@media (min-width: 1024px) {
  .nav--container .nav--secondary p {
    padding-left: 140px;
  }
}
.nav--container .nav--secondary ul {
  display: flex;
  list-style: none;
}
@media (min-width: 1024px) {
  .nav--container .nav--secondary ul {
    padding-right: 140px;
  }
}
.nav--container .nav--secondary ul li {
  border-left: 1px solid #424242;
  padding: 0 6px;
}
@media (min-width: 780px) {
  .nav--container .nav--secondary ul li {
    padding: 8px 10px;
  }
}
.nav--container .nav--secondary ul li:last-child {
  border-right: 1px solid #424242;
}
.nav--container .nav--secondary ul li a {
  transition: color 0.2s;
}
.nav--container .nav--secondary ul li a:hover {
  cursor: pointer;
  color: #717fe0;
}

.slider--container {
  font-family: "Playfair Display", serif;
  height: calc(100vh - 13px);
  position: absolute;
  inset: 13px 0 0 0;
  overflow-y: hidden;
}
.slider--container .slide--wrap {
  height: 100vh;
}
.slider--container .slide--wrap .slide {
  height: 100%;
}
.slider--container .slide--wrap .slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 60% 100%;
  padding-top: 20px;
}
.slider--container .slide--wrap .slide .slide--text {
  color: #222222;
  position: absolute;
  inset: 50% 0 0 3%;
}
@media (min-width: 1024px) {
  .slider--container .slide--wrap .slide .slide--text {
    inset: 50% 0 0 10%;
  }
}
.slider--container .slide--wrap .slide .slide--text .slide--text1 {
  font-size: 2.5rem;
}
.slider--container .slide--wrap .slide .slide--text .slide--text2 {
  font-size: 4rem;
}
.slider--container .slide--wrap .slide .slide--text .slide--text3 {
  color: #fff;
  background-color: #717fe0;
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  transition: background-color 0.2s;
}
.slider--container .slide--wrap .slide .slide--text .slide--text3:hover {
  background-color: #5f6bbd;
  cursor: pointer;
}
.slider--container .slider--buttons {
  background-color: transparent;
  position: absolute;
  top: 45%;
  width: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
}
@media (min-width: 1024px) {
  .slider--container .slider--buttons {
    font-size: 2.3rem;
  }
}
.slider--container .slider--buttons div {
  color: #c2c2c2;
  transition: color 0.2s;
}
.slider--container .slider--buttons div:hover {
  color: #717fe0;
  cursor: pointer;
}

/*# sourceMappingURL=app.css.map */
